
@{
    ViewBag.Title = "Dathang";
}
<style>
    td {
        padding: 10px 20px 10px 20px;
    }
</style>
<h2 align="center">Xác nhận đặt hàng</h2>
<table>
    <tr>
        <td>Mã đơn hàng</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Khách hàng</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Địa chỉ</td>
        <td>...</td>
    </tr>
</table>

<table>
    <tr style="text-align:center">
        <td>Sản phẩm</td>
        <td>Đơn giá</td>
        <td>Số lượng</td>
        <td>Thành tiền</td>
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Tổng tiền: </td>
        <td>...</td>
    </tr>
</table>

<div align="center"><button>Đặt hàng</button></div>
<br />
<br />

