
@{
    ViewBag.Title = "Dathang";
}
<style>
    td{
        padding: 0px 20px 0px 20px;
    }
</style>
<h2 align="center">Xác nhận đặt hàng</h2>
<table align="center" class="table">
    <tr>
        <td colspan="2">Mã đơn hàng</td>
        <td colspan="2">...</td>
    </tr>
    <tr>
        <td colspan="2">Khách hàng</td>
        <td colspan="2">...</td>
    </tr>
    <tr>
        <td colspan="2">Địa chỉ</td>
        <td colspan="2">...</td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Sản phẩm</td>
                    <td>Đơn giá</td>
                    <td>Số lượng</td>
                    <td>Thành tiền</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="3" style="float:right">Tổng tiền: </td><td>...</td></tr>

</table>
<button style="float:right">Đặt hàng</button>
<br /><br />

